.sticked {
    background-color: #fff !important ;

}

#index1-conatcat {
    padding-top: 50px;
    padding-bottom: 0px;
}

#gallery {
    padding: 30px 0px;
}

#our-agent{
    margin-top: 30px;
    padding-top: 30px;
}

#index1-chose {
    padding: 30px 0px;
}

#services_index {
    padding-top: 30px;
}

#project_index {
    padding-top: 30px;
}

.index1-heading {
    margin-bottom: 0px;
}